@import "variables.scss";
  body{
    background-color:rgb(245, 245, 233)!important;
  }
  div .card{
   background-color:#FBFDFF 

  }
    .info{
      background-color:darkcyan;
    }
    .media{
      background-color:rgb(245, 245, 233) ;
      
    }
  
    